* {
    margin: 0;
    padding: 0;
}
ul{

}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    padding: 0 50px;
}

nav{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #eee;
}

body{
    margin: 15px;
}

h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

figcaption{
    margin-top: 10px;
    margin-bottom: 15px;
}

figure{
    margin-top: 20px;
    margin-bottom: 20px;
}
